<%= render partial: "layouts/navbar_no_login" %>

<div class="container">
<div class= 'form-group text-center'>
  <h3 class="a-heading">Enter Information To Login</h3>
<%= form_tag login_path, method: :post, class: "form-group" do %>
  <div class='row'>
      <div class='form-group'>
        <%= text_field_tag :email, params[:email], placeholder: "Email" %>
      </div>
          </div>
  <div class='row'>
      <div class='form-group'>
  <%= password_field_tag :password, nil, placeholder: "Password" %>
  </div>
      </div>
  <button type="submit" class="btn btn-danger">Login</button>
<% end %>
</div>
</div>
