<div class="text-center single-center">
  <h2>I think you're feeling</h2>
  <strong><h1><%= @top_emotion %></h1></strong>
</div>
<%#= image_tag current_user.images.last.image %>

<div class="andra-landing-page">
  <%= image_tag @andra_image_path, class:"standard-andra"%>
</div>
