<%= render partial: "layouts/navbar" %>

<h2>Explination of Experiments</h2>

<h2>New Experiment</h2>

  <%= button_to "New Experiment", new_experiment_path, method: :get, class: "btn btn-danger btn-create" %>

<h2>Your Experiments</h2>
