/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .btn-mine{
   background-color: purple;
   border-color: purple;
   height: 60px;
   width: 180px;
 }

 .btn-mine:hover {
   background-color: #FFDD67;
   border-color: #FFDD67;
   height: 60px;
   width: 180px;
 }

.a-heading {
  font-family: "Verdana", Geneva, sans-serif;
  color: purple;
  font-size: 2.2em;
  margin-bottom: 30px;
}

.andra-intro {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 4em;
}
.andra-intro-sub {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
}

.btn-create {
  margin-top: 30px;
  margin-left: 120px;
  height: 60px;
  font-size: 1.4em;
}

.btn-experiment {
  margin-top: 30px;
  margin-left: 120px;
  height: 60px;
  width: 300px;
  font-size: 1.4em;
}

.andra-header {
  font-family: "Verdana", Geneva, sans-serif;
  font-style: oblique;
  color: #009688;
}

.andra-header-plain {
  font-family: "Verdana", Geneva, sans-serif;
  color: #00695c;
  text-align: center;
  text-shadow: 2px 2px #E1BEE7;
}

.andra-header-small {
  font-family: Geneva, sans-serif;
  color: #004d40;
  text-align: center;
  text-shadow: .5px .5px #009688;
}

.andra-logo {
  font-family: "Verdana", Geneva, sans-serif;
  color: #009688;
  font-size: 2.2em;
  margin-left: 30px;
}

a.andra-logo:hover {
    text-decoration:none;
    color: white;
}

.nav-login {
  font-size:1.3em;
  color: #c6a9e0 !important;
}

a.nav-login:hover {
    text-decoration:none;
    color: #c495ec;
}

.andra-landing-page {
    position:fixed;
    right:40px;
    bottom: 40px;
}

.standard-andra {
  height: 220px;
}

.standard-andra-large {
  height: 340px;
}
#root-background {
  background-color: #c6a9e0;
}

.single-center {
  margin-top: 200px;
}

.hidden-camera {
  visibility: hidden;
}

.five-top {
  margin-top: 35px;
}

.ten-top {
  margin-top: 40px;
}

.twenty-top {
  margin-top: 80px;
}
.thirty-top {
  margin-top: 120px;
}

.ten-bottom {
  margin-bottom: 40px;
}

.bubble
{
position: relative;
width: 1000px;
height: 120px;
padding: 5px;
background: #FFFFFF;
-webkit-border-radius: 21px;
-moz-border-radius: 21px;
border-radius: 21px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 19px 16px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -19px;
left: 900px;
}

.center-text {
  text-align: center;
  vertical-align: middle;
  line-height: 120px;       /* the same as your div height */
}

.bubble-side
{
position: relative;
width: 750px;
height: 155px;
padding: 5px;
background: #FFFFFF;
-webkit-border-radius: 21px;
-moz-border-radius: 21px;
border-radius: 21px;
}

.bubble-side:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 16px 0 16px 19px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
right: -19px;
top: 105px;
}

.bubble-side-wide
{
position: relative;
width: 800px;
height: 200px;
padding: 5px;
background: #FFFFFF;
-webkit-border-radius: 21px;
-moz-border-radius: 21px;
border-radius: 21px;
}

.bubble-side-wide:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 16px 0 16px 19px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
right: -19px;
top: 105px;
}


.bubble-large
{
position: relative;
width: 750px;
height: 300px;
padding: 5px;
background: #FFFFFF;
-webkit-border-radius: 21px;
-moz-border-radius: 21px;
border-radius: 21px;
}

.bubble-large:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 19px 16px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -19px;
left: 636px;
}

.icon-experiment {
  color: #004d40;
}

.andra-line {
  border-color: #009688;
}

.up-ten{
  margin-top: -20px;
}

.log-image {
  height: 70px;
}
