<nav>
  <div class="nav-wrapper purple lighten-4">
    <a href="/" class="andra-logo">Andra</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
        <li class="nav-login"><%= link_to "Experiment", experiments_path %></li>
        <li class="nav-login"><%= link_to "Profile", user_path(current_user) %></li>
        <li class="nav-login"><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li class="login-nav andra-logo"><%= link_to "Login", login_path %></li>
      <% end %>    </ul>
  </div>
</nav>
